<!-- <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"> -->
  <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 configBtnMargin">
    <button type="submit" class="saveConfigBtn btn" (click)="saveConfigData()" [disabled]='disableBtn'>
      <img src="../../../../assets/images/Save.png" alt="">&nbsp; Save Changes</button>
    &nbsp; &nbsp;
    <button type="submit" class="btn" (click)="cancelConfig()"><img class="cancelImg"
        src="../../../../assets/images/Cancel.png" alt="">
      &nbsp;Cancel</button>
  </div>
<!-- </div> -->
<br>
<app-parameter-configuration [configData]='configData' (disableSaveBtn)='disableStatus($event)' (setFrequencyValue)='commonFrequency($event)' [savedFrequency]='frequency'>
</app-parameter-configuration>
<br>