@import "_colors.scss";
@import "_variables.scss";
.dashboard {
    // width: 100vw;
    height: -webkit-calc(100vh - #{$header-height});
    /* Chrome, Safari */
    background-color: $color-bgDashboard;
    width: 100%
}

.dasboardBgLabel {
    background: $color-white;
    width: 98%;
    margin: auto;
    position: relative;
    top: 8px;
    padding: 15px;
    margin: auto;
}

.separator {
    height: 12px;
}

.bgPanelColor {
    background-color: white;
}

.custom-file-upload {
    // border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 93px;
    height: 48px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #f4f7f8, #eaeef0);
    font-size: 14px;
    padding: .80em 0.7em .80em 1.2em;
    margin-top: 1%;
}
.pointer{
    cursor: pointer;
}