.boarding-Configuration {
    width: 197px;
    height: 20px;
    font-family: "SiemensSans";
    font-size: 14.4px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #303030;
  }
  .copy-boarding-Configuration{
    width: 189px;
    height: 16px;
    font-family: "SiemensSans";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #303030;
  }
  .rectangle-key{
    width: 100%;
    height: 481px;
  }
  .boarding-content{
    width: 508px;
    height: 16px;
    font-family: "SiemensSans-Roman";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #303030;
  }
  .onBoardingKey{
    width: 100%;
    max-width: 100%;
    height: 430px;
    border: 1px solid black;
    font-size: 12px;
    padding-left: 2%;
    padding-right: 2%;
  }
