@import "_colors.scss";
@import "_variables.scss";

// CSS for the navigation menu
.active {
    font-weight: 1em;
    background: $color-lightgray;
    border-radius: 1px;
}

:host ::ng-deep {
    ul {
        margin: 0;
        padding: 0;
        background: #788791 !important;
        padding: 10px;
        margin-top: 0px;
        font-size: 14px;
    }

    li {
        list-style: none;
        font-size: 14px;
        padding: 5px 0;
        color: $color-white !important;
    }

    .flex-column .nav-item a {
        width: 100%;
        margin: 0;
        color: $color-white;
        margin-bottom: -1px;
    }

    .active {
        font-weight: 1em;
        background: transparent;
        border-radius: 1px;
    }

    p-sidebar .ui-sidebar {
        top: $header-height;
        z-index: 6 !important;
        background: #788791 !important;
        border: 1px transparent !important;
        padding: 0px !important;
    }

    .navText {
       font-size: 14px;
       font-family: "SiemensSans-Roman";
    }
}

.sideNavBarDiv {
    background-color: $color-hanburgernavbar !important;
}

.sideNavBar {
    padding: 15% 0px 0px 0px;
}

.topBorderOfNavigation {
    border-top: 1px solid $color-lightgray;
}

.bottomBorderOfNavigation {
    border-bottom: 1px solid $color-lightgray;
}

.lineDesingOfNavigution {
    width: 100%;
    padding: 10px;
}

.footer {
    color: #fff;
    font-size: 12px;
    position: fixed;
    top: 82%;
    padding-left: 25px;
}

.h-2 {
    height: 2em;
}