<div class="container mt-3">
  
<p-table class="gridView" [value]="mockdata">
  <ng-template pTemplate="header">
      <tr>
          <th *ngFor="let col of cols">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data >
      <tr>
          <td >
                 {{data.serialNo}}
          </td>
          <td>
                 {{data.manufacturerId}}
          </td>
          <td>
                 {{data.deviceType}}
          </td>
          <td>
                 {{data.deviceRevision}}
          </td>
          <td>
                 {{data.protocol}}
          </td>
          <td>
                 {{data.fileType}}
          </td>
      </tr>
  </ng-template>
</p-table>
</div>

<!-- File Upload Button -->
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="siemens-header-text pb-3">Upload EDD File</div>
      <label class="Custom-file-upload">
        <input type="file" (change)="onFileChange($event)" accept=".tar,.zip,.json,.xml,.zip" />
      </label>
    </div>
  </div>
</div>
