label {
    font-family: "SiemensSans-Roman";
    font-size: 12px;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.adduserbtn {
    height: 37px;
}
.staticFieldsAdduser{
    height: 90px;
}