
.firstRow {
    text-decoration: underline;
    cursor: pointer;
}
// css for spinner
.gridSpinnerBackground {
    position: fixed;
    left: -1px;
    width: 102%;
    height: calc(100vh - 40px);
    display: flex;
    background: rgba(48, 48, 48, 0.7);
    z-index: 100000000;
    top: -1px;
}

.gridSpinnerContainer {
    position: relative;
    margin: auto;
    height: 50px;
    width: 50px;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    background: rgba(187, 187, 187, 0.5);
}
.spinnerImg{
    position: relative;
    right: 30px;
    width: 81px;
    top: -31px;
}
.deviceNotsupported{
    font-size: 18px;
    padding-left: 30px;
}
.actionColumn img {
    width: 18px;
}