.textSize {
    font-size: 14px;
}

.taskManagerDiv {
    border: 1px solid lightgrey;
    padding: 4%;
}

.spinner {
    height: 20px;
    width: 50px;
    font-size: 20px;
}
input[type="checkbox"]{
    width: 20px; 
    height: 20px;
  }