$header-color:#3F484C;
$color-white:#FFFFFF;
$color-black:#000000;
$color-lightgray:lightgray;
$color-hanburgernavbar:#788791;
$color-bgDashboard:#edf0f2;
$color-gridHeader:#ebebe3;
$color-grey: rgb(221, 221, 221);
$color-digi-blue:#4ca9c4;