/* ##### Font Size ##### */

/* ##### Font Size for componets ##### */

$pidg-15-px: 15px;
$pidg-10-px:10px;
$pidg-100-px:100px;
$pidg-4-em:5.5em;
$pidg-5-em:5em;
$pidg-1-em:1em;
$pidg-2-em:2em;
$pidg-pt7-em:0.7em;
$font-size-16x:16px;
$font-size-14x:16px;
$font-size-pt8em:0.8em;
$font-size-pt1em:0.1em;