$header-height:45px;
/* ##### colors ##### */

/* ##### basic colors for componets ##### */
$pidg-color-3F484C:#3F484C;
$pidg-color-lightgray:lightgray;
$pidg-color-white:#FFFFFF;
$pidg-color-black:#000000;
$pidg-color-navbar:#ECF1F6;
$pidg-border-color:1px solid darkgray;
$pidg-color-lightbule:#0b3a6b;
$pidg-color-gray: gray;
$pidg-color-lightbackground: #eaf2fa;
$pidg-shadow-color: rgba(180, 180, 180, 0.5);
$pidg-color-darkgray: rgba(0, 0, 0, 0.1);
$pidg-progressbar-border: 1px solid #7c7f7f;
$pidg-color-bg-deviceView: rgb(118, 123, 132);
$ping-color-blue: blue;
$ping-color-footer: #4C6675;
$ping-color-grayshade: #767b84;
$pidg-color-979999:#979999;
$pidg-color-hanburgernavbar: #788791;

/*#####################  size ############*/

$pidg-15-x:15px;
/*###### others #######*/
$pidg-font-bold:bold;
